<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erro</title>
</head>
<body>
    <hgroup>
        <h1><i class="glyphicon glyphicon-thumbs-down"></i> Erro</h1>
        <h2>Ops, aconteceu algo de errado. Reporte o erro para equipe de desenvolvimento, agradecemos sua compreensão.</h2>
    </hgroup>
</body>
</html>
